// Brand colours
$fac-primary: #0EABA9;
$swisscom-navy: #001155;
$white: #fff;
$fac-purple: #5944C6;
$fac-gray-light: #BBBBBB;
$fac-gray-mid: #636161;
$fac-gray: #333333;
$fac-blue: #11AAFF;

$fac-background: #EFF3F6;

$fac-background-light: #F7F9FA;

// Core colours
$aluminium: #DDE3E7;
$aluminium-80: #E4E9EC;
$horizon-40: #F8FAFB;
$horizon: #EEF3F6;
$gray-20: #D6D6D6;
$gray-40: #ADADAD;
$gray-60: #858585;
$gray-80: #5C5C5C;
$blue-20: #D1E6F9;
$blue-10: #f7fbff;

// Interaction colours
$interaction-blue: #1781E3;
$blue-rollover: #0851DA;
$int-red: #DD1122;
$int-orange: #FF8B2E;
$int-orange--active: #E86416;
$int-green: #25B252;

// Content colours
$turquoise: #0EABA9;
$petrol: #19657A;

// Custom colours