//
// Tabs
// --------------------------------------------------

/*doc
---
title: Tabs
name: 02-components-180-tabs
category: Components - Tabs
---

<p>Tabs organize and allow navigation between groups of content that are related and at the same level hierarchy.<br />There can be active and disabled states.</p>

<div class="margin-bottom-4">
  <sdx-tabs>
    <sdx-tabs-item label="Overview">Lorem ipsum. The content for the tab "Overview".</sdx-tabs-item>
    <sdx-tabs-item label="Details" selected>
      <p class="font--semi-bold">Product description</p>

      <p class="text-recommended-max-width">The new iPad Pro features an advanced 12.9'' all-screen Liquid Retina display.
        Face ID to unlock your iPad Pro, log into apps and authorise payments, all with your face. The A12X Bionic chip,
        which is faster than most PC notebooks and ensures that even pro apps run easily.</p>

      <ul class="list">
        <li class="single-line">12.9'' Liquid Retina display</li>
        <li class="single-line">12 megapixel camera</li>
        <li class="single-line">7 megapixel TrueDepth front camera and face ID</li>
        <li class="single-line">A12X Bionic chip with neutral engine</li>
      </ul>
    </sdx-tabs-item>
    <sdx-tabs-item label="Equipment" disabled>This tab is disabled.</sdx-tabs-item>
  </sdx-tabs>
</div>


```section_design
```

<div class="content-design">
  <h2>Rules</h2>

  <ul class="list">
    <li class="single-line">Only white background below the tabs and their content is allowed. Otherwise there will be an misunderstanding of the non-existing relationship between coloured content and inactive tabs which means extra cognitive load for the user.</li>
    <li class="single-line">Keep tab labels as short as possible.</li>
    <li class="single-line">It is recommended to not have more than 6 tabs.</li>
    <li class="single line">Only use disabled tabs if really necessary and only for CUC or Agent context. Otherwise, they would only add to a bad user experience and confusion.</li>
    <li class="single-line">When there is not enough space available horizontally for all tabs, a scroll mechanism is added.</li>
  </ul>

  <h3>Specifications</h3>


  <div class="content-design">
    <div class="row padding-bottom-4">
      <div class="col-xs-12">
        <img class="img-responsive img-responsive-border" alt="Measurements and spacings of tabs" src="/$WEBROOT-THEME-BUILD$/img/design/tabs/tabs_specifications.png" alt="Measurements and spacings of tabs">
        <span class="fig-caption">Measurements and spacings of tabs</span>
      </div>
    </div>
  </div>
</div>


```section_develop
```

```htmlmixed_webcomponent_sdx-tabs
<sdx-tabs>
  <sdx-tabs-item label="Tab 1">This is the content of Tab 1.</sdx-tabs-item>
  <sdx-tabs-item label="Tab 2">This is the content of the Tab 2.</sdx-tabs-item>
  <sdx-tabs-item label="Tab 3 with very long text that will be truncated" selected>This is the content of Tab 3.</sdx-tabs-item>
  <sdx-tabs-item label="Tab 4">This is the content of Tab 4.</sdx-tabs-item>
  <sdx-tabs-item label="Tab 5 with extra text">This is the content of Tab 5.</sdx-tabs-item>
  <sdx-tabs-item label="Tab 6" disabled>This is the content of the disabled Tab 6.</sdx-tabs-item>
</sdx-tabs>
```

<h2>Tabs with icons</h2>

```htmlmixed_playground
<sdx-tabs>
  <sdx-tabs-item label="Sunny" icon-name="icon-weather-sun">Today's weather is sunny.</sdx-tabs-item>
  <sdx-tabs-item label="Rainy" icon-name="icon-weather-rain">Today's weather is rainy.</sdx-tabs-item>
  <sdx-tabs-item label="Snowy" icon-name="icon-weather-snow">Today's weather is snowy.</sdx-tabs-item>
</sdx-tabs>
```
*/


// --------------------------------------------------


.tabs {
  @mixin disabled-tab {
    @include disabled;
    &.disabled,
    &:disabled {
      @include font-smoothing;
      opacity: .4;
    }
  }

  // Line below tabs
  &:before {
    content: "";
    border-bottom: $tabs-border solid $color-tabs-light-border;
    position: absolute;
    left: 0;
    right: 0;
    bottom: 0;
  }

  position: relative;
  width: 100%;
  white-space: nowrap;
  overflow-x: hidden;

  &.tabs { // more specificity (e.g. when an older version of SDX exists on the same page)
    border-bottom: none;
  }

  .tab {
    display: table-cell;
    margin: 0;
    padding: 0;
    text-align: center;
    list-style: none;
    position: relative;
    vertical-align: middle;

    // Separator after each tab
    &:after {
      content: "";
      position: absolute;
      top: 0;
      bottom: 0;
      right: 0;
      width: $tabs-separator-width;
      background-color: $color-white;
    }

    &:active {
      outline: none;
    }

    &:focus {
      outline: 1px dotted;
    }

    .tab-link {
      @include text-truncate;
      display: block;
      border-bottom: $tabs-bar-active solid transparent;
      border-top: $tabs-bar-active solid transparent;
      background-color: $color-aluminum-tint-2;
      margin-right: $tabs-separator-width;
      transition: background-color 200ms $standard-easing;
      user-select: none;
      height: $interaction-element-height;
      min-width: $tabs-min-width;
      max-width: $tabs-max-width;

      &.tab-link { // more specificity (e.g. when an older version of SDX exists on the same page)
        @include typo-tabs-small;
        color: $color-tabs-light-text;
        padding: 7px $baseline * 2;
      }

      // Hover and Focus styles
      // -------------------------
      &:hover,
      &:focus {
        background-color: $color-aluminum;
        color: $color-int-blue--active;
      }

      &:focus {
        color: $color-int-blue--active !important; // overwrite .active
      }

      // Active and Disabled styles
      // -------------------------
      &.active {
        color: $color-int-blue;
        border-top: $tabs-bar-active solid $color-tabs-light-indicator;
        background-color: $color-white;
        outline: none !important;

        &.active { // more specificity (e.g. when an older version of SDX exists on the same page)
          border-bottom: none;
        }
      }

      @include disabled-tab;

      &.disabled,
      &:disabled {
        color: $color-tabs-light-disabled-text;
      }
    }

    &--flyout {
      .flyout__indicator::before {
        right: calc(50% - 7px);
      }
    }
  }

  // Scrollable styles
  // -------------------------
  &--scrollable {
    overflow-x: auto;
  }

  // Image styles
  // -------------------------
  &--image {
    border-bottom: 0;
    overflow-x: visible;
    // scrollable, with fade-out to white
    ul {
      overflow-x: auto;
      margin-left: -$tabs-with-image-fade-out-width;
      padding-left: $tabs-with-image-fade-out-width;
      margin-right: -$tabs-with-image-fade-out-width;

      &::before,
      &::after {
        content: " ";
        position: absolute;
        top: 0;
        bottom: 0;
        width: $tabs-with-image-fade-out-width;
        z-index: 1;
        pointer-events: none;
      }

      &::before {
        left: -$tabs-with-image-fade-out-width;
        background: linear-gradient(to right, rgba(255, 255, 255, 1) 0%, rgba(255, 255, 255, 0) 100%);
      }

      &::after {
        right: -$tabs-with-image-fade-out-width;
        background: linear-gradient(to left, rgba(255, 255, 255, 1) 0%, rgba(255, 255, 255, 0) 100%);
      }
    }

    .tab {
      vertical-align: top;
      padding-right: $tabs-with-image-gutter;

      @include media-breakpoint-down(sm) {
        padding-right: $tabs-with-image-gutter-sm;
      }

      &:last-child {
        padding-right: $tabs-with-image-fade-out-width;
      }

      .tab-link {
        @include typo-tabs-small;
        background: $color-tabs-light-image-background;
        width: $tabs-with-image-size;
        height: $tabs-with-image-size;
        display: flex;
        flex-direction: column;
      }

      span {
        display: flex;
        justify-content: center;
        align-items: center;

        &.image {
          height: 105px;

          img {
            max-height: 90px;
            pointer-events: none;
            -moz-user-select: none;
          }
        }

        &.title {
          white-space: normal;
          line-height: 1;
          flex: 1;
        }
      }
    }
  }

  // Dark Background
  // -------------------------

  .bg--dark & {
    border-bottom-color: $color-tabs-dark-border;

    .tab .tab-link {
      @include font-smoothing;
      opacity: .7;
      color: $color-tabs-dark-text;
      border-bottom: $tabs-bar-active solid transparent;
      // Hover and Focus styles
      // -------------------------
      &:hover,
      &:focus {
        opacity: 1;
        color: $color-tabs-dark-hover-text;
        border-bottom: $tabs-bar-active solid transparent;
        box-shadow: none;
      }

      // Active and Disabled styles
      // -------------------------
      &.active {
        opacity: 1;
        color: $color-tabs-dark-hover-text;
        border-bottom: $tabs-bar-active solid $color-tabs-dark-indicator;
      }

      @include disabled-tab;

      &.disabled,
      &:disabled {
        color: $color-tabs-dark-disabled-text;
      }
    }

    // Inverted styles
    // -------------------------
    &--inverted {
      background: $color-white;
      border-bottom: 0;

      .tab .tab-link {
        @include default-font-smoothing;
        color: $color-tabs-dark-inverted-text;

        // Hover and Focus styles
        // -------------------------
        &:hover,
        &:focus {
          color: $color-tabs-dark-inverted-hover-text;
        }

        // Active and Disabled styles
        // -------------------------
        &.active {
          color: $color-tabs-dark-inverted-hover-text;
          border-bottom: $tabs-bar-active solid $color-tabs-dark-inverted-indicator;
        }

        @include disabled-tab;

        &.disabled,
        &:disabled {
          color: $color-tabs-dark-inverted-disabled-text;
        }
      }
    }
  }
}
